{% extends '../base/base.html' %}
{% load widget_tweaks %}

{% comment %} Page title {% endcomment %}
{% block title %}Home{% endblock title %}

<!--Form -->
{% block jumbotron %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">New video</h1><br>

        <!-- Form -->
        <form method="post" action="{% url 'app:upload' %}" class="needs-validation" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="form-row">
                
                <!-- video file -->
                <div class="col custom-file">
                    {% render_field form.file class="custom-file-input" accept="video/*" required="True" %}
                    <label id="label_file" for="id_file" class="custom-file-label">Choose File...</label>
                    <small class="form-text text-muted">Select your video file.</small>

                    {% comment %} video file errors {% endcomment %}
                    {% if form.errors.file %}
                        {% for error in form.errors.file %}
                        <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>

                <!-- video name -->
                <div class="col">
                    {% render_field form.name class="form-control" placeholder="Enter the video title" required="True" %}
                    <small class="form-text text-muted">Enter the title of your video.</small>
                    
                    {% comment %} video file errors {% endcomment %}
                    {% if form.errors.name %}
                        {% for error in form.errors.file %}
                        <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>

                <!-- video theme-->
                <div class="col">
                    {% render_field form.theme class="form-control" required="True" %}
                    <small class="form-text text-muted">Or click <a href="{% url 'app:themes' %}">here</a> to create a new theme.</small>
                    {% comment %} video file errors {% endcomment %}
                    {% if form.errors.theme %}
                        {% for error in form.errors.file %}
                        <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="col"><button type="submit" class="btn btn-block btn-primary">upload</button></div>
            </div>
        </form>
    </div>
</section>
{% endblock jumbotron %}

{% comment %} Video List {% endcomment %}
{% block content %}

<div class="row">

{% for video in videos %}

    <div class="col-md-4">

        <div class="card mb-4 shadow-sm">
            <a href="{% url 'app:watch' video.id %}" title="Assistir {{ video.name }}">
                <video src="{{ video.file.url }}" class="mr-auto ml-auto" width="100%" height="200"></video>
            </a>
    
            <div class="card-body">
                <div class="card-text" style="margin-bottom: 5px;">
                    
                    <!-- video name -->
                    <h4><a href="{% url 'app:watch' video.id %}">{{ video.name|upper }}</a></h4> 
                    
                    <!-- video theme (tag) -->
                    <a class="badge badge-primary badge-primary ml-6" href="{% url 'app:theme' video.theme.id %}">{{ video.theme.name }}</a>
                    <hr>
                </div>
                
                <div class="d-flex justify-content-between align-items-center">

                    <!-- thumbs up and down buttons -->
                    <div class="btn-group">
                        <a href="{% url 'app:thumbUp' video.id %}" class="btn btn-sm btn-outline-success disabled" title="Thumb up this video?"><fa class="fa fa-thumbs-up"></fa> {{ video.thumbs_up }}</a>
                        <a href="{% url 'app:thumbDown' video.id %}" class="btn btn-sm btn-outline-danger disabled" title="Thumb Down this video?"><fa class="fa fa-thumbs-down"></fa> {{ video.thumbs_down }}</a>
                    </div>

                    <!-- uploaded at -->
                    <small class="text-muted"><i class="fa fa-clock"></i> {{ video.uploaded_at|timesince }} atrás</small>
                </div>
            </div>
        </div>
    </div>

{% empty %}
<div class="col-md-12 alert alert-warning">No videos avaliable.</div>
{% endfor %}

{% comment %} paginação {% endcomment %}
{% if is_paginated %}
    <div class="row col-md-12">
        <nav class="Page navigation">
            <ul class="pagination">
            
            {% comment %} previous page {% endcomment %}
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" aria-label="Previous" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link"><span>&laquo;</span></a></li>
            {% endif %}

            {% comment %} current page {% endcomment %}
            {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="page-item active"><a class="page-link"><span>{{ i }} <span class="sr-only">(current)</span></span></a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}

            {% comment %} next page {% endcomment %}
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
            <li class="disabled"><a class="page-link"><span>&raquo;</span></a></li>
            {% endif %}
            
            </ul>
        </nav>
    </div>
{% endif %}

</div>
{% endblock content %}