{% extends '../base/base.html' %}

{% block title %}Temas | {{ theme.name }}{% endblock title %}

{% block content %}
<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm" style="background: #6f42c1;">
   <i class="mr-4 fa fa-bookmark text-white" style="font-size: 48px"></i>
    <div class="lh-100">
        <h3 class="mb-0 text-white lh-100">{{ theme.name|upper }}</h3>
        <p>Score: {{ theme.score }}</p>
    </div>
</div>

<!-- Videos with this theme -->
<div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Videos with this theme</h6>

    {% for video in video_list %}
        <div class="media text-muted pt-3">
            <video src="{{ video.file.url }}" class="bd-placeholder-img mr-2 rounded" width="32" height="32"></video>
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark"><a href="{% url 'app:watch' video.id %}">{{ video.name|upper }}</a></strong>
                <strong><i class="fa fa-thumbs-up"></i> {{ video.thumbs_up }}</strong>
                <strong><i class="fa fa-thumbs-down"></i> {{ video.thumbs_down }}</strong>
            </p>
        </div>
    {% empty %}
        <div class="media text-muted pt-3">
            <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">No videos avaliable</strong>
            </p>
        </div>
    {% endfor %}
  </div>
{% endblock content %}