{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    
    <!-- header-->
    {% include './header.html' %}
    
    <main role="main">
        {% if messages %}
        <section class="col-md-12" style="margin-top: 10px;">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        </section>
        {% endif %}

        {% block jumbotron %}{% endblock jumbotron %}

        <div class="album py-5 bg-light">
            <div class="container">
                {% block content %}{% endblock content %}
            </div>
        </div>
    </main>

    <footer class="text-muted">
        <div class="container">
            <h2 class="float-right">
                <a href="#"><i class="fa fa-arrow-up"></i></a>
            </h2>
            <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
            <p>New to Bootstrap? <a href="https://getbootstrap.com/">Visit the homepage</a> or read our <a href="/docs/4.3/getting-started/introduction/">getting started guide</a>.</p>
        </div>
    </footer>


    <script>
        document.querySelector("#id_file").addEventListener('change', e => {
            
            // Showing the file name
            const fileName = e.target.files.item(0).name;
            document.querySelector("#label_file").innerHTML = fileName;

            // if the name field is empty, it receives the file name by default
            const videoName = document.querySelector("#id_name").value;
            if (videoName == "") {
                document.querySelector("#id_name").value = fileName;
            };
        })
    </script>
</body>
</html>