html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.jumbotron {
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #d2d6de;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}


.bg-purple {
    background-color: #6f42c1;
}

.lh-100 {
    line-height: 1;
}

.lh-125 {
    line-height: 1.25;
}

.lh-150 {
    line-height: 1.5;
}

footer {
    position: relative;
    bottom: 0px;
}